final_merge_script.py
inspect_data_detailed.py
merge_wait_times_fixed.py
notes.txt
waiting-your-turn-2024.pdf
wait-times-priority-procedures-in-canada-2025-data-tables-en.xlsx
merged_wait_times_nova_scotia.csv
Surgical_Wait_Times.csv